* {
    padding: 0px;
    margin: 0px;
}

/* 
1.-Definir la fuente a utilizar 
2.-Considerar el logo en el apartado h1
*/

/* nabar section */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #347571;
    height: 100px;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-container>h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}


.option-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

.option-container>li {
    padding: 10px;
    margin: 10px;
    color: white;
}

.option-container>button {
    padding: 10px;
    margin: 10px;
    color: white;
    background-color: #347571;
    border: solid 2px white;
    border-radius: 20px;
}